@page
@model IndexModel
@{
    ViewData["Title"] = "The Home for Pizza Lovers";
    TimeSpan timeInBusiness = DateTime.Now - new DateTime(2018, 1, 1);
}

<div class="text-center">
    <h1 class="display-4">Welcome to Contoso Pizza</h1>
    <p>Serving delicious pizzas for @Convert.ToInt32(timeInBusiness.TotalDays) days!</p>
</div>
